<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Great Number Game</title>
    <!-- Bootstrap core CSS -->
    <link href={{ url_for('static', filename='css/bootstrap.css') }} rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href={{ url_for('static', filename='css/cover.css')}} rel="stylesheet">
</head>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
            </div>
        </header>

        <main role="main" class="inner cover">
            <!-- Card Too Low -->
            <h1 class="cover-heading">The Great Number Game</h1>
            <p>I am thinking of a number between 1 and 100</p>
            <p>Take a guess</p>

            {% if 'guess' in session and  session['guess'] < session['random_number'] %}
            <div class="card text-white bg-danger mb-3 mx-auto" style="max-width: 18rem;">
                    <div class="card-header">Guess Number:  {{ session['guess'] }}</div>
                    <div class="card-body">
                      <h5 class="card-title">Too Low!</h5>
                      <p class="card-text">Please Try Again<p>
                    </div>
            </div>
            {% endif %}
            {% if 'guess' in session and session['guess'] > session['random_number'] %}
             <div class="card text-white bg-info mb-3 mx-auto" style="max-width: 18rem;">
                     <div class="card-header">Guess Number:  {{ session['guess'] }}</div>
                     <div class="card-body">
                       <h5 class="card-title">Too High!</h5>
                       <p class="card-text">Please Try Again<p>
                     </div>
             </div>
             {% endif %}
            <!-- Card Success-->
            {% if 'guess' in session and session['guess'] == session['random_number'] %}
            <div class="card text-white bg-success mb-3 mx-auto" style="max-width: 18rem;">
                    <div class="card-header">Guess Number:  {{ session['guess'] }}</div>
                    <div class="card-body">
                      <h5 class="card-title">{{ session['random_number']}} was the number</h5>
                      <p class="card-text">
                            <form action="/playagain" method="post">
                                <div class="form-group d-flex justify-content-center">
                                    <!-- <input type="text" name="guess" id="" class="form-control w-25" placeholder="" aria-describedby="helpId"> -->
                                    <button type="submit" class="btn btn-secondary">Play Again</button>

                                </div>
                            </form>
                      <p>
                    </div>
            </div>
            {% endif %}
            {% if 'guess' not in session or session['guess'] > session['random_number'] or session['guess'] < session['random_number'] %}
            <form action="/guess" method="post">
                <div class="form-group d-flex justify-content-center">
                    <input type="text" name="guess" id="" class="form-control w-25" placeholder="" aria-describedby="helpId">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% endif %}
            
        </main>

        <footer class="mastfoot mt-auto">
        </footer>
    </div>
</body>

</html>